* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav-header {
    display: inline;
}

.nav-btn {
    display: none;
}

.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav-links>a {
        display: block;
        width: 100%;
    }
    #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

footer {
    font-size: 12px;
    padding: 50px 10px 50px 10px;
    text-align: center;
    margin-bottom: 3%;
}

footer .left {
    width: 100%;
    border-right: 25px;
    margin-bottom: 20px;
    padding: 0;
}

footer .left a {
    list-style-type: none;
    display: inline;
    line-height: 35px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    font-size: 12px;
    height: 7vh;
    width: 7%;
}

footer .left a {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

footer .left a.voltar {
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}

footer .left a:hover {
    color: rgb(0, 0, 0);
}

@media (max-width:800px) {
    .footer .left {
        width: 50%;
        margin-top: 30px;
    }
    .footer .left a {
        width: 50%;
        margin-top: 30px;
    }
}
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    
  }

.gallery {
    border: 1px solid #ccc;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 2%;
    float: left;
    width: 32%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 32%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }